footer.footer
  .container
    p.pull-left © 2015 Totof, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://totofproject.com') Blog
      li
        a(href='http://mymixmotion.com') MyMixMotion

