extends layout

block content

  if user
    .row
      .col-xs-12
        // informations utilisateur
        form(method='POST',action='/account')
          .form-group
            label(for='txtEmail') Email:
            input#txtEmail.form-control(name='txtEmail',type='email',placeholder='votre email...',readonly,value=user.email) 
          .form-group
            label(for='txtName') Nom, Surnom:
            input#txtName.form-control(name='txtName',type='text',placeholder='votre nom, surnom ...',value=user.profile.name)

          .form-group
            label(for='gravatar') Gravatar
            img.img-thumbnail(src="#{user.gravatar()}",width="100",height="100",id="gravatar",name="gravatar")

          .form-group
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-check
              | &nbsp;Save

    .row
      .col-xs-12
        h3 Linked Accounts
        if user.instagram
          p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
        else
          p: a(href='/auth/instagram') Link your Instagram account

        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account

        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account

        if user.twitter
          p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
        else
          p: a(href='/auth/twitter') Link your Twitter account

        if user.github
          p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
        else
          p: a(href='/auth/github') Link your GitHub account

        if user.linkedin
          p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
        else
          p: a(href='/auth/linkedin') Link your LinkedIn account


