doctype html(lang='en')
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='#{application.description}')
    meta(name='author', content='#{application.author}')
    title #{application.name}
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-social.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/uuid.js')
    script(src='/js/notify.min.js')
    script(src='/js/app.js')
  body


    include mixins    
    include partials/header
    .container
      include partials/flash
      block content
      .bottom-separator
      script.
        $( document ).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
        });

    include partials/footer


