html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.icon-grey {
  color:#606060;
}

.separator {
  margin-top: 25px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #a0a0a0;
}

.bottom-separator {
  height: 50px;
}

.fa-big {
  font-size:128pt;
}
